/* Colours-------------------------------------------------------------*/
.nav-aboutus-link{
    background-color:#be1616a8;
}

/*
transition-property: color,background-color;
}  Part of hover class need to check
*/

.nav-opentimes-link{
    background-color:#cf51cfa8;
}

.nav-media-link{
    background-color:#02afafa8;
}

.nav-signup-link{
    background-color:#c07813a8;
}

.footer-facebook-link{
    background-color:#3b5998;
}

.footer-twitter-link{
    background-color:#00acee;
}

.footer-youtube-link{
    background-color:#FF0000;
}

.footer-twitch-link{
    background-color:#6441a5;
}

.test{
    background-color:#787878;
}

/* General Use Elements--------------------------------------------------------*/
a:hover{
    text-decoration:none!important;
    color:#FFF!important;
}

.section-title{
    color:#FFF;
    padding-top:40px;
    padding-bottom:30px;
    text-transform:uppercase;
}

img {
    width:100%;
    height:auto;
}

/* Nav Elements--------------------------------------------------------*/
nav{
    width:100%;
    margin:0;
    background-color:#1a1a1a;
    text-align: center;
    position:fixed;
    top:0;
    display:block;
    z-index: 1;
}

.mainlogo{
    height:60px;
    text-decoration:none;
    color:#FFF;
}

.mainlogo h1{
    padding-top:5px;
}

.list-inline-item:not(:last-child){
    margin:0;
}

.nav-container{
    max-height:60px;
}

#nav{
    padding:0;
    margin-top:0;
    margin:auto;
    display:flex;
    height:100%;
    max-width:480px;
}

.nav-list-item{
    max-width:120px;
    width:25%;
    margin:0;
    font-size:16px;
    height:60px;
}

.nav-list-item a{
    width:100%;
    height:100%;
    text-decoration:none;
    color:#fff;
    padding-top: 1rem;
}

.nav-list-item a i{
    font-size:0;
}

@media  (max-width: 400px) {
    .nav-list-item{
        font-size:0;
    }

    .nav-list-item a i{
        font-size:30px;
    }
}
/* Hero Image Elements--------------------------------------------------------*/
header{

    background: url('../images/hero-image-tetris.jpg') center center / cover no-repeat fixed;
    width:100%;
    padding-bottom:40%;
    max-height:600px;
}

.hero-image-content{
    color:#FFF;
    position:relative;
    padding:12rem 10% 50px;
    text-align:center;
    text-transform:uppercase;
    display:block;
}

.hero-image-content h1{
    padding-bottom:30px;
}

.hero-image-button{
  display:block;
  height: 60px;
  width: 180px;
  background-color:#c07813;
  border: 3px solid black;
  border-radius: 25px;
  padding-top: 15px;
  margin:auto;
}

.hero-button-text{
    color:white;

}

/* About Us Elements--------------------------------------------------------*/
#about-us{
    background-image:url('../images/aboutsection.jpg') center center / cover repeat fixed;
    background-color:#5a0d0d;
    min-height:400px;
    text-align:center;
    display:block;
}

.about-us-text{
    color:#FFF;
}

.about-us-image{
    max-width:300px!important;
    height:auto;
    margin:auto;
}

/* Open Times Elements--------------------------------------------------------*/
#open-times{
    background-color:#632163;
    min-height:400px;
    text-align:center;
}


/* Footer Elements--------------------------------------------------------*/
footer{
    text-align:center;
    background-color:#1a1a1a;
    color:#FFF;
    bottom:0;
    width:100%;
    height:120px;
    padding-top:13px;
}

.footer-list-item{
    height:40px;
    width:40px;
}

.footer-list-item a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration:none;
    color:#fff;
    border-radius:50%;
    border: 3px solid black;
    padding-top:3px;
}

